@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #ffffff;
}

body {
  background:
    radial-gradient(circle at top,
      #1d0f4d,
      #070b1f 40%,
      #030712 100%);
  color: white;
  min-height: 100vh;
  font-family: Inter, sans-serif;
}

.glass-card {
  background: rgba(15, 23, 42, 0.65);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(168, 85, 247, 0.25);
  box-shadow:
    0 0 40px rgba(139, 92, 246, 0.2),
    inset 0 0 20px rgba(255,255,255,0.03);
}

.neon-btn {
  background: linear-gradient(
    90deg,
    #7c3aed,
    #a855f7
  );

  box-shadow:
    0 0 20px rgba(168,85,247,.6);

  transition: .3s;
}

.neon-btn:hover {
  transform: translateY(-2px);
  box-shadow:
    0 0 30px rgba(168,85,247,.8);
}

.neon-border {
  border: 1px solid rgba(168,85,247,.4);
}

.stats-card {
  background: rgba(17,24,39,.8);
  border: 1px solid rgba(99,102,241,.3);
  backdrop-filter: blur(20px);
}

.green-card {
  background: rgba(34,197,94,.15);
  border: 1px solid rgba(34,197,94,.4);
}

.red-card {
  background: rgba(239,68,68,.15);
  border: 1px solid rgba(239,68,68,.4);
}